/* General */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}
h1 {
    text-align: center;
    color: #2c3e50;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.menu a {
    text-decoration: none;
    color: white;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}
.menu a:hover {
    background-color: #2980b9;
}



nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Formularios */
form {
    margin: 20px;
}

form input, form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}


.enlace-animado {
    color: #007bff;
    text-decoration: none;
    position: relative;
}

.enlace-animado::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.enlace-animado:hover::after {
    width: 100%;
}
